<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/hallo03talk/WebContent/resources/css/style.css" />

    <style>

    </style>
  </head>

    <!-- 헤더-->
    <header class="p-3 border-bottom">
    <div class="container">
        <div
        class="d-flex flex-item flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
        <a href="#" class="nav-link px-2 link-secondary hallo">할로영삼talk</a>
        <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">동행</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">장소</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">후기</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Q&A</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 btn btn-warning" role="search">
            검색
            </button>
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
        </div>
    </div>
    </header>

<main class="d-flex flex-row flex-nowrap justify-content-center w-100">


  <body>
    <main id="container" class="container-xxl mt-xxl-5">
        <br><br>
        <div class="text" style=" width: 50%;float: left;">
            <h1 style="margin-left: 60px;"><b>검색</b></h1>
        </div>
        <br><br><br>
        <input type="searchbox" value="" style="width: 90%; height: 50px; border-radius: 10px; border: 1px solid gray; margin-left: 5%;" placeholder="  검색어를 입력하세요.">
        <br><br>



                          <!-- 네비게이션 바 -->
                          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 60px; margin-right: 60px;">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="Information-tab" data-bs-toggle="tab" data-bs-target="#Information" type="button" role="tab" aria-controls="Information" aria-selected="true">장소</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="post-tab" data-bs-toggle="tab" data-bs-target="#post" type="button" role="tab" aria-controls="post" aria-selected="false">동행</button>
                            </li>
                        </ul>
                      
                      
                        <div class="tab-content" id="myTabContent">
                        
                          <!-- -------장소--------------------------------------------------------------------------------------- -->
      
                          <div class="tab-pane fade show active" id="Information" role="tabpanel" aria-labelledby="report-tab">   
                                  <!-- 장소 카테고리들 -->
                                  <div id="place-finder" class="fw-bolder text-center mt-5">
                                    <div class="row border border-4" style="width: 90%; margin: 0 auto;">
                                      <div class="row">
                                        <div class="col-2 in-place border-end border-3 " id="hotel" >숙소</div>
                                        <div class="col-2 border-end border-3" id="jeju">제주</div>
                                        <!-- 제주시 -->
                                        <div class="col in-jeju">시내</div>
                                        <div class="col in-jeju">애월</div>
                                        <div class="col in-jeju">한림</div>

                                        <!-- 서귀포 -->
                                        <div class="col in-seogwipo d-none">시내</div>
                                        <div class="col in-seogwipo d-none">남원</div>
                                        <div class="col in-seogwipo d-none">안덕</div>
                                      </div>
                                      <div class="row">
                                        <div class="col-2 in-place border-end border-3" id="food">맛집</div>
                                        <div class="col-2 border-end border-3" id="seogwipo">서귀포</div>
                                        <!-- 제주시 -->
                                        <div class="col in-jeju">한경</div>
                                        <div class="col in-jeju">조천</div>
                                        <div class="col in-jeju">구좌</div>
                                        <!-- 서귀포 -->
                                        <div class="col in-seogwipo d-none">대정</div>
                                        <div class="col in-seogwipo d-none">표선</div>
                                        <div class="col in-seogwipo d-none">성산</div>
                                      </div>
                                      <div class="row">
                                        <div class="col-2 border-end border-3" id="cafe">카페</div>
                                        <div class="col-2 border-end border-3"></div>
                                      </div>
                                    </div>
                                  </div>
                                
                                
                                <script>
                                  //숙소, 맛집, 카페 선택
                                  hotel.addEventListener("click", (e) => {
                                      hotel.classList.add("bg-warning");
                                      food.classList.remove("bg-warning");
                                      cafe.classList.remove("bg-warning");
                                  });  

                                  food.addEventListener("click", (e) => {
                                      food.classList.add("bg-warning");
                                      hotel.classList.remove("bg-warning");
                                      cafe.classList.remove("bg-warning");
                                  });    

                                  cafe.addEventListener("click", (e) => {
                                      cafe.classList.add("bg-warning");
                                      hotel.classList.remove("bg-warning");
                                      food.classList.remove("bg-warning");
                                  }); 

                                  //제주, 서귀포
                                  jeju.addEventListener("click", (e) => {
                                    jeju.classList.add("bg-warning");
                                    seogwipo.classList.remove("bg-warning");
                                    inseogwipo.forEach((item) => {
                                      item.classList.add("d-none");
                                    });
                                    injeju.forEach((item) => {
                                      item.classList.remove("d-none");
                                    });
                                  });

                                  seogwipo.addEventListener("click", (e) => {
                                    seogwipo.classList.add("bg-warning");
                                    jeju.classList.remove("bg-warning");
                                    injeju.forEach((item) => {
                                      item.classList.add("d-none");
                                    });
                                    inseogwipo.forEach((item) => {
                                      item.classList.remove("d-none");
                                    });
                                  });

                                
                                </script>
      
                                    
                                </form>
                            
                            </div>
      
                            <!-- ------동행---------------------------------------------------------------------------------------- -->
      
                            <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="reservation-tab">
      
                               <!-- 날짜 선택 -->
                              <div style="margin-top: 30px; margin-left: 60px; margin-bottom: 0px;">
                                <h4><b>동행 날짜 선택</b></h4>
                              </div>
                              <div id="setday" class="fw-bolder text-center mt-5" style="float: left; margin-left: 30px; margin-top: 0px;">
                                <div style="float: left; ">
                                  <div id="going" style=" float:left; margin-left: 30px; font-size: 25;">
                                    가는날   
                                  </div>
                                    <input type="date" style="color: gray; margin-left: 10px; float:left;">
                                    <div style=" float:left; margin-left: 50px; font-size: 25;">
                                    ~
                                    </div>
                                    <div id="comming" style=" float:left; margin-left: 50px; font-size: 25;">
                                      오는날   
                                    </div>
                                      <input type="date" style="color: gray; margin-left: 10px; float:left;">
                                  </div>
                                  <br><br>
                              </div>

                              <br><br>

                              <div id="place-finder" class="fw-bolder text-center mt-5">

                                <div class="row border border-4" style="width: 90%; margin: 0 auto;">
                                  <div class="row">
                                    <div class="col-2 border-end border-3" id="jejuu">제주</div>
                                    <!-- 제주시 -->
                                    <div class="col in-jejuu">시내</div>
                                    <div class="col in-jejuu">애월</div>
                                    <div class="col in-jejuu">한림</div>

                                    <!-- 서귀포 -->
                                    <div class="col in-seogwipoo d-none">시내</div>
                                    <div class="col in-seogwipoo d-none">남원</div>
                                    <div class="col in-seogwipoo d-none">안덕</div>
                                  </div>
                                  <div class="row">
                                    <div class="col-2 border-end border-3" id="seogwipoo">서귀포</div>
                                    <!-- 제주시 -->
                                    <div class="col in-jejuu">한경</div>
                                    <div class="col in-jejuu">조천</div>
                                    <div class="col in-jejuu">구좌</div>
                                    <!-- 서귀포 -->
                                    <div class="col in-seogwipoo d-none">대정</div>
                                    <div class="col in-seogwipoo d-none">표선</div>
                                    <div class="col in-seogwipoo d-none">성산</div>
                                  </div>
                                </div>
                              </div>

                              <script>

                                //제주, 서귀포 (동행)
                                jejuu.addEventListener("click", (e) => {
                                  jejuu.classList.add("bg-warning");
                                  seogwipoo.classList.remove("bg-warning");
                                  inseogwipoo.forEach((item) => {
                                    item.classList.add("d-none");
                                  });
                                  injejuu.forEach((item) => {
                                    item.classList.remove("d-none");
                                  });
                                });
                                
                                seogwipoo.addEventListener("click", (e) => {
                                  seogwipoo.classList.add("bg-warning");
                                  jejuu.classList.remove("bg-warning");
                                  injejuu.forEach((item) => {
                                    item.classList.add("d-none");
                                  });
                                  inseogwipoo.forEach((item) => {
                                    item.classList.remove("d-none");
                                  });
                                });                                

                          </script>
      
                            </div>
                        </div>

      <br>
      <button type="button" class="btn btn-warning" style="float:right; margin-right: 60px;">검색</button>

    </body>


</main>

  <script src="/hallo03talk/WebContent/resources/js/searchtable.js"></script>
</html>
