<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Insert title here</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/hallo03talk/resources/css/style.css" />
  <style>
    #container {
      padding: 3rem;
    }

    #container-header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .chi:nth-child(1) {
      flex-grow: 1;
    }

    .chi:nth-child(2) {
      flex-grow: 50;
    }

    .chi:nth-child(3) {
      flex-grow: 0;
    }

    #align-dropdown {
      display: flex;
      justify-content: flex-end;
    }

    /* 여기서부터 아이템들 */
    #content-items {
      margin: 1rem;
      width: 100%;
      height: 120px;
    }
    #content-items:hover{
      background-color: bisque;
      cursor: pointer;;
    }
    
    #content-items * {
      margin: 10px;
    }
    #content-items #mojip{
      background-color: rgb(255, 212, 132);
    }

    #content-items #magam{
      background-color: rgb(184, 184, 184);
    }

    #content-items-title{
      width: 40%;
    }
  </style>
</head>

<body>
  <!-- 헤더-->
  <header class="p-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-item flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="nav-link px-2 link-secondary hallo">할로영삼talk</a>

        <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-dark">동행</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">장소</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">후기</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Q&A</a></li>
        </ul>

        <div class="col-md-3 text-end">
          <button class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 btn btn-warning" role="search">
            검색
          </button>
          <button type="button" class="btn btn-outline-primary me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div id="container" class="container-xl">
      <div id="container-header">
        <h1 class="chi">동행</h1>
        <h6 class="chi">쉽고 빠르게 같이 동행할 여행친구 찾기</h6>
        <button class="btn btn-outline-warning chi">글쓰기</button>
      </div>
      <hr>
      <div class="dropdown" id="align-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          최신순
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">최신순</a></li>
          <li><a class="dropdown-item" href="#">조회순</a></li>
          <li><a class="dropdown-item" href="#">모집중</a></li>
        </ul>
      </div>

      <div id="contents">

        <!-- 이게 하나 -->
        <div id="content-items" class="d-flex" onclick="//상세페이지 접근 함수">
          <img src="/hallo03talk/resources/img/with_board_img1.jpg" class="rounded" height="100" width="150">
          <div id="content-items-title">
            <h5>제주도 서귀포쪽 같이 돌아디닐 분 구해요!</h5>
            <p>#tag#tag#tag#tag</p>
          </div>
          <div class="d-flex align-items-center flex-shrink-0" >
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              class="forum-icon-fill">
              <path
                d="M11.5,5 C17.293,5 20.813,11.041 20.918,11.298 L20.918,11.298 L21,11.5 L20.918,11.701 C20.813,11.959 17.293,18 11.5,18 C5.707,18 2.187,11.959 2.082,11.701 L2.082,11.701 L2,11.5 L2.082,11.298 C2.187,11.041 5.707,5 11.5,5 Z M11.5,6.036 C6.92,6.036 3.565,10.488 3.089,11.499 C3.567,12.51 6.932,16.964 11.5,16.964 C16.08,16.964 19.435,12.512 19.911,11.5 C19.433,10.49 16.068,6.036 11.5,6.036 Z M11.5,8.25 C13.2949254,8.25 14.75,9.70507456 14.75,11.5 C14.75,13.2949254 13.2949254,14.75 11.5,14.75 C9.70507456,14.75 8.25,13.2949254 8.25,11.5 C8.25,9.70507456 9.70507456,8.25 11.5,8.25 Z M11.5,9.25 C10.2573593,9.25 9.25,10.2573593 9.25,11.5 C9.25,12.7426407 10.2573593,13.75 11.5,13.75 C12.7426407,13.75 13.75,12.7426407 13.75,11.5 C13.75,10.2573593 12.7426407,9.25 11.5,9.25 Z"
                id="Color">
              </path>
            </svg>
            <span>5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="none" class="forum-icon-fill"><title>Posts</title><path fill-rule="evenodd" d="M6 5h12c1.104 0 2 .896 2 2v8c0 1.104-.896 2-2 2h-4.36l-4.884 2.93c-.079.047-.168.07-.256.07-.086 0-.17-.021-.247-.065C8.097 19.846 8 19.68 8 19.5V17H6c-1.104 0-2-.896-2-2V7c0-1.104.896-2 2-2zm13 10V7c0-.553-.447-1-1-1H6c-.553 0-1 .447-1 1v8c0 .553.447 1 1 1h3v2.621L13.36 16H18c.553 0 1-.447 1-1z"></path></svg>
            <span>5</span>
            <img src="/hallo03talk/resources/img/with_board_img2.png" width="24px" height="24px">
            <span>chan0966</span>
            <span class="rounded " id="mojip">모집중</span>
          </div>
        </div>
        <hr>

        <!-- 이게 하나 -->
        <div id="content-items" class="d-flex">
          <img src="/hallo03talk/resources/img/with_board_img1.jpg" class="rounded" height="100" width="150">
          <div id="content-items-title">
            <h5>제주도 서귀포쪽 같이 돌아디닐 분 구해요!</h5>
            <p>#tag#tag#tag#tag</p>
          </div>
          <div class="d-flex align-items-center flex-shrink-0" >
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              class="forum-icon-fill">
              <path
                d="M11.5,5 C17.293,5 20.813,11.041 20.918,11.298 L20.918,11.298 L21,11.5 L20.918,11.701 C20.813,11.959 17.293,18 11.5,18 C5.707,18 2.187,11.959 2.082,11.701 L2.082,11.701 L2,11.5 L2.082,11.298 C2.187,11.041 5.707,5 11.5,5 Z M11.5,6.036 C6.92,6.036 3.565,10.488 3.089,11.499 C3.567,12.51 6.932,16.964 11.5,16.964 C16.08,16.964 19.435,12.512 19.911,11.5 C19.433,10.49 16.068,6.036 11.5,6.036 Z M11.5,8.25 C13.2949254,8.25 14.75,9.70507456 14.75,11.5 C14.75,13.2949254 13.2949254,14.75 11.5,14.75 C9.70507456,14.75 8.25,13.2949254 8.25,11.5 C8.25,9.70507456 9.70507456,8.25 11.5,8.25 Z M11.5,9.25 C10.2573593,9.25 9.25,10.2573593 9.25,11.5 C9.25,12.7426407 10.2573593,13.75 11.5,13.75 C12.7426407,13.75 13.75,12.7426407 13.75,11.5 C13.75,10.2573593 12.7426407,9.25 11.5,9.25 Z"
                id="Color">
              </path>
            </svg>
            <span>5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="none" class="forum-icon-fill"><title>Posts</title><path fill-rule="evenodd" d="M6 5h12c1.104 0 2 .896 2 2v8c0 1.104-.896 2-2 2h-4.36l-4.884 2.93c-.079.047-.168.07-.256.07-.086 0-.17-.021-.247-.065C8.097 19.846 8 19.68 8 19.5V17H6c-1.104 0-2-.896-2-2V7c0-1.104.896-2 2-2zm13 10V7c0-.553-.447-1-1-1H6c-.553 0-1 .447-1 1v8c0 .553.447 1 1 1h3v2.621L13.36 16H18c.553 0 1-.447 1-1z"></path></svg>
            <span>5</span>
            <img src="/hallo03talk/resources/img/with_board_img2.png" width="24px" height="24px">
            <span>chan0966</span>
            <span class="rounded " id="magam">마감됨</span>
          </div>
        </div>
        <hr>

      </div>

    </div>
  </main>
  <footer class="border-top"></footer>
</body>

</html>